ng-sidebar-container{
  height: 100vh;
  max-height: 100vh;
}

#sidebar-content{
  height: 95vh;
  width: 385px;
}

#search-input,
#search-input:focus {
  max-width: 345px;
}

input:focus{
  outline: none;
  box-shadow: none;
  border: none;
}

.list-group-item {
  max-height: 300px;
}

#close-sidebar-icon{
  border: none;
  outline: 0;
}

#close-sidebar-icon,
#close-sidebar-icon:focus,
#close-sidebar-icon:active,
#close-sidebar:hover{
  color: white;
  background: transparent;
  font-size: 1.2em;
  cursor: pointer;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

.teal {
  color: #037c8f;
}

.btn-teal{
    background-color: #037c8f;
    color: white;
  }
  