<ng-sidebar-container>
  <!-- Popout drawer sidebar -->
  <ng-sidebar [(opened)]="sidebarOpen" position="right">
    <div id="sidebar-content">
        <div class="container bg-dark">
          <div class="d-flex justify-content-end p-2">
            <a closeSidebar id="close-sidebar-icon"><i class="fa fa-times"></i></a>
          </div>
          <div class="row p-1">
            <div class="col col-12 form-group">
              <div class="input-group">
                <input id="#search-input" type="text" class="form-control" placeholder="Search TurboTax" [(ngModel)]="searchInput"
                  (keyup.enter)="onSearchSubmit()">
                <div class="input-group-append">
                  <button class="btn btn-light" type="submit" (click)="onSearchSubmit()">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      <!-- Search Results -->
      <div *ngIf="searchData | async as data; else loading" class="list-group">
        <div class="list-group-item">
          <h5 class="mb-1">People like you found these answers helpful</h5>
        </div>
        <div *ngFor="let result of data.results">
          <a class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 teal">{{result.title}}</h6>
              </div>
              <p class="mb-1">{{result.snippet}}</p>
          </a>
        </div>
      </div>
      
      <!-- Sidebar Footer -->
      <footer *ngIf="searchData | async" class="footer bg-light mt-0">
        <div class="container pb-2 pt-2">
          <div class="row">
            <!-- empty columns for spacing -->
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
              <button type="button" class="btn btn-teal">CTA Section</button>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
          <div class="flex-grow-1 order-1 order-md-0">
            <a class="navbar-brand teal" href="#">INTUIT</a>
          </div>
          <div class="d-flex flex-md-fill flex-shrink-1 justify-content-end order-3">
            <button class="btn btn-outline-secondary" (click)="toggleSidebar()">HELP</button>
          </div>
      </div>
    </nav>
  </div>

</ng-sidebar-container>

<ng-template #loading>Loading...</ng-template>